

:root{
	--font:3.5rem;
	--line: calc(var(--font)*2);
	--move:calc(-1*var(--line));

};


a{
    color:#000000;
}

.container-sale{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 50px 0 50px;
}

.container-sale .box-sale{
	margin-top: 70px;
	max-width: 1560px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 70px;
}

.container-sale .box-sale .sale-wrapper{
	width: 100%;
}

.container-sale .box-sale .sale-wrapper .home-text{

	font-family: "Noto Serif";
}

.container-sale .box-sale .sale-wrapper .home-text a{
	color:#000000;
	font-size: 16px;
}

.container-sale .box-sale .sale-wrapper .header-text{
	text-align: center;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	font-size: 64px;

}

.container-sale .box-sale .sale-wrapper .grid-items {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	grid-gap: 50px 50px;

}

.container-sale .box-sale .sale-wrapper .grid-items .item .hover-img .photo-wrapper{
	display: flex;
	justify-content: center;

}



.container-sale .box-sale .sale-wrapper .grid-items .item .hover-img .photo-wrapper .photo img{
	max-width: 500px;
	height: auto;
	min-width: 25px;
	width: 100%;
	height: 100%;
	overflow: hidden;

	transition: transform .5s ease-in-out;
}

.container-sale .box-sale .sale-wrapper .grid-items .item .photo .label{
	display: flex;
	

	justify-content: center;
	color:#fff;
	font-size: var(--font);
	font-family: "Bebas Neue";
	max-height: 66px;
	/*height: 100%;*/
	margin-top: -80px;
	transform: scale(1);

}


.container-sale .box-sale .sale-wrapper .grid-items .item .hover-img .photo:hover img
{
	transform: scale(1.05);
}










.container-sale .box-sale .sale-wrapper .grid-items .item .photo .label:hover{
	transform: scale(1.05);
}



/*.container-sale .box-sale .sale-wrapper .grid-items .item .wrapper-box .box-element .price{
	white-space: nowrap;
	font-size:21px;
	font-family: "Noto Serif";
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap:15px;
}*/

/*.container-sale .box-sale .sale-wrapper .grid-items .item .wrapper-box .box-element .price p:first-child{
	text-decoration: line-through;
	color: #787878;
}

.container-sale .box-sale .sale-wrapper .grid-items .item .wrapper-box .box-element .price p:last-child{
	color: #FF0404;
}*/

@media(max-width: 960px){
	.container-sale .box-sale .sale-wrapper .grid-items {
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

	}
}




@media(max-width: 560px){

	.container-sale .box-sale .sale-wrapper .grid-items {
		margin-top: 60px;
		display: block;

	}
	.container-sale .box-sale .sale-wrapper .grid-items .item{

		margin-top: 50px;
	}

	.container-sale .box-sale .sale-wrapper .home-text a{
		font-size: 10px;
	}

	.container-sale .box-sale .sale-wrapper .header-text{

		font-size:32px;
	}	

	.container-sale .box-sale .sale-wrapper .grid-items .item .photo .label{
		margin-top: -35px;
		font-size: 22px;
	}

}