body {
	background-color: #fff;
}


section{
    border-top: 1px solid black;
    padding-bottom:150px;

}

.login_app {

	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 75px;


}

.login_app .form {
	padding: 0 5px;
	max-width: 510px;
	width: 100%;
}

.login_app .form h1 {
	display: flex;
	justify-content: center;
	font-size: 64px;
}


.login_app .form .login-form h3 {
	margin-top: 35px;
	font-size: 24px;
	font-family: 'Noto Serif';
	font-weight: 300;
}

.login_app .form .login-form input {
	margin-top: 10px;
	border: 1px solid #070707;
	width: 100%;
	height: 40px;
}

@media (max-width: 576px){
	.login_app .form h1 {
		font-size: 48px;
	}
}

.login_app .form .login-form .submit-login-but {
	margin-top: 30px;
	height: 50px;
	background-color: black;
	font-family: 'Noto Serif';
	font-size: 20px;
	font-weight: 700;
	color:#fff;

}

.login_app .form .login-form .submit-login-but:hover{
	background-color: rgba(0, 0, 0, 0.75);
	cursor:pointer;
	transition: .1s;
}

.login_app .form .but-log h4 a{
    text-decoration: underline 0.15em rgba(60, 60, 60, 0);
    transition: text-decoration-color 0.3s;
}

.login_app .form .but-log h4 a:hover {
  text-decoration-color: rgba(60, 60, 60, 1);
}
