{% extends 'core/html/base.html' %}
{% load static %}
{% block htmlhead %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/all_sale_products.css' %}">

    <script type="text/javascript">
        let user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                let cookies = document.cookie.split(";");
                for(let i=0; i<cookies.length; i++){
                    let cookie = cookies[i].trim();

                    if(cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken("csrftoken");

        function getCookie(name){
            let cookieArr = document.cookie.split(";");

            for(let i=0; i<cookieArr.length; i++){
                let cookiePair = cookieArr[i].split("=");

                if(name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        let cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('CART was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('CART:', cart)

    </script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

{% endblock htmlhead %}

{% block title %}{%endblock%}


{% block content %}

<section class="container-sale">
    <div class="box-sale">
        <div class="sale-wrapper">
            <div class="home-text">
                <a href="/">Home/</a>
            </div>

            <div class="header-text">
                <span>Sale</span>
            </div>

            <div class="grid-items">
                 {% for sale_product in sale_products %}
                 {% if sale_product.sale_price != null %}
                 <div class="item">

                    <a href="{{sale_product.name}}" class="hover-img">
                        <div class="photo"><img src="{{sale_product.imageURL}}" alt=""></div>

                        <div class="wrapper-box">
                            <div class="box-element product">
                                <div class="watches-name" ><span>{{ sale_product.name }}</span></div>
                                <div class="price">
                                    {% if sale_product.sale_price != null %}
                                    <p class="price-old">$ {{ sale_product.price|floatformat:2 }}</p>
                                    <p class="price-off">$ {{ sale_product.sale_price|floatformat:2}}</p>
                                    {%else%}
                                    <p class="normal-price">$ {{ sale_product.price|floatformat:2}}</p>
                                    {%endif%}

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{%endblock%}